@font-face {
  font-family: 'AsapBold';
  src: url('../fonts/AsapBold.eot');
  src: url('../fonts/AsapBold.eot') format('embedded-opentype'),
  url('../fonts/AsapBold.woff2') format('woff2'),
  url('../fonts/AsapBold.woff') format('woff'),
  url('../fonts/AsapBold.ttf') format('truetype'),
  url('../fonts/AsapBold.svg#AsapBold') format('svg');
}

@font-face {
  font-family: 'AsapItalic';
  src: url('../fonts/AsapItalic.eot');
  src: url('../fonts/AsapItalic.eot') format('embedded-opentype'),
  url('../fonts/AsapItalic.woff2') format('woff2'),
  url('../fonts/AsapItalic.woff') format('woff'),
  url('../fonts/AsapItalic.ttf') format('truetype'),
  url('../fonts/AsapItalic.svg#AsapItalic') format('svg');
}

@font-face {
  font-family: 'AsapMedium';
  src: url('../fonts/AsapMedium.eot');
  src: url('../fonts/AsapMedium.eot') format('embedded-opentype'),
  url('../fonts/AsapMedium.woff2') format('woff2'),
  url('../fonts/AsapMedium.woff') format('woff'),
  url('../fonts/AsapMedium.ttf') format('truetype'),
  url('../fonts/AsapMedium.svg#AsapMedium') format('svg');
}

@font-face {
  font-family: 'AsapRegular';
  src: url('../fonts/AsapRegular.eot');
  src: url('../fonts/AsapRegular.eot') format('embedded-opentype'),
  url('../fonts/AsapRegular.woff2') format('woff2'),
  url('../fonts/AsapRegular.woff') format('woff'),
  url('../fonts/AsapRegular.ttf') format('truetype'),
  url('../fonts/AsapRegular.svg#AsapRegular') format('svg');
}

$main_color: #4d4d4d;

.nav {
  li {
    padding: 15px 15px 0 15px;
    a {
      padding: 10px 0 8px;
      text-transform: uppercase;
      color: $main_color;
      font-family: AsapRegular;
      font-size: 16px;
      &:hover {
        border-bottom: 2px #878787 solid;
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }
    }
  }
}

header {
  position: fixed !important;
  top: 0;
  background-color: transparent;
  z-index: 5;
}

.main {
  background-image: url('../images/bg_top.png');
  padding-top: 101px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .container {
    .row {
      div {
        .know_more {
          padding: 0 28px 0 29px;
          &:hover {
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 29px 0 30px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
          }
        }
        .hire_me {
          padding: 0 44px 0 46px;
          &:hover {
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 45px 0 47px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
          }
        }
        a {
          line-height: 48px;
          text-transform: uppercase;
          font-family: AsapMedium;
          font-size: 16px;
          color: $main_color;
          display: inline-block;
          margin-top: 20px;
          border: solid $main_color 1px;
          margin-right: 13px;
          text-decoration: none;
        }
        h1 {
          padding-top: 160px;
          font-family: AsapMedium;
          font-size: 90px;
          color: $main_color;
        }
        h3 {
          font-family: AsapMedium;
          font-size: 22px;
          color: #9a9a9a;
          padding-left: 6px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.main2 {
  .container {
    .row {
      div {
        a {
          line-height: 48px;
          text-transform: uppercase;
          font-family: AsapMedium;
          font-size: 16px;
          color: $main_color;
          display: inline-block;
          margin-top: 20px;
          border: solid $main_color 1px;
          text-decoration: none;
          padding: 0 45px 0 47px;
          &:hover {
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 46px 0 48px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
          }
        }
        p {
          font-family: AsapRegular;
          font-size: 16px;
          color: $main_color;
        }
        h2 {
          margin: 201px 0 0 0;
          font-size: 46px;
          font-family: AsapBold;
          text-transform: uppercase;
          color: #7c7c7c;
          position: relative;
          letter-spacing: 6px;
          &:before {
            position: absolute;
            content: "---------";
            letter-spacing: -10px;
            top: -45px;
          }
        }
        img {
          width: 100%;
          padding-top: 106px;
          padding-bottom: 124px;
        }
      }
    }
  }
}

.main3 {
  background-color: #f6f6f6;
  padding: 118px 0 113px 0;
  .container {
    .row {
      div {
        text-align: center;
        .padding_b_80{
          padding-bottom: 80px;
        }
        h3 {
          font-size: 24px;
          font-family: AsapMedium;
          color: $main_color;
        }
        img {
        }
      }
      h2 {
        font-size: 46px;
        font-family: AsapBold;
        color: #7c7c7c;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 70px;
        position: relative;
        display: inline-block;
        letter-spacing: 6px;
        &:before {
          position: absolute;
          content: "----------";
          letter-spacing: -10px;
          top: -45px;
          right: 105px;
        }
      }
    }
  }
}

.main4 {
  padding: 101px 0 127px 0;
  .container {
    .row {
      div {
        text-align: center;
        h2 {
          font-size: 46px;
          font-family: AsapBold;
          text-transform: uppercase;
          color: #7c7c7c;
          text-align: center;
          position: relative;
          display: inline-block;
          letter-spacing: 6px;
          &:before {
            position: absolute;
            content: "----------";
            letter-spacing: -10px;
            top: -45px;
            right: 107px;
          }
        }
        img {
          padding: 60px 0 0 0;
        }
      }
    }
  }
}

.main5 {
  background-color: #f6f6f6;
  padding: 126px 0 123px 0;
  .container {
    .row {
      div {
        text-align: center;
        .load_more {
          line-height: 48px;
          text-transform: uppercase;
          font-family: AsapMedium;
          font-size: 16px;
          color: $main_color;
          display: inline-block;
          margin-top: 30px;
          border: solid $main_color 1px;
          text-decoration: none;
          padding: 0 45px 0 47px;
          &:hover {
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 46px 0 48px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
          }
        }
        img {
          padding: 15px 0;
          &:hover {
            -webkit-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
          }
        }
        h2 {
          font-size: 46px;
          font-family: AsapBold;
          text-transform: uppercase;
          color: #7c7c7c;
          text-align: center;
          position: relative;
          display: inline-block;
          letter-spacing: 6px;
          &:before {
            position: absolute;
            content: "----------";
            letter-spacing: -10px;
            top: -45px;
            right: 131px;
          }
        }
      }
    }
  }
}

.main6 {
  padding: 126px 0 120px 0;
  .container {
    .row {
      .h2_center {
        text-align: center;
        h2 {
          font-size: 46px;
          font-family: AsapBold;
          text-transform: uppercase;
          color: #7c7c7c;
          text-align: center;
          position: relative;
          display: inline-block;
          margin-bottom: 55px;
          letter-spacing: 6px;
          &:before {
            position: absolute;
            content: "----------";
            letter-spacing: -10px;
            top: -45px;
            right: 45%;
          }
        }
      }
    }
  }
}

.owl-carousel {
  display: block;
  .item {
    border: 1px solid #212121;
    padding: 81px 0 107px 120px;
    img {
      vertical-align: 0;
    }
    h3 {
      font-family: AsapMedium;
      font-size: 24px;
      text-transform: uppercase;
      color: #474747;
    }
    h5 {
      font-family: AsapItalic;
      font-size: 12px;
      text-transform: uppercase;
      color: #474747;
    }
    p {
      font-family: AsapRegular;
      font-size: 16px;
      text-transform: uppercase;
      color: #9c9c9c;
    }
  }
}

.user_avatar {
  display: inline-block;
  margin-right: 31px;
}

.user_info {
  display: inline-block;
  max-width: 600px;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  background-color: white;
  width: 11px;
  height: 11px;
  margin: 2px;
  border: solid 1px black;
}

.owl-nav {
  display: none;
}

.owl-dots {
  position: absolute;
  bottom: 38px;
  width: 100%;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.active {
  background-color: black;
  outline: none;
}

section {
  padding: 52px 0 65px 0;
  background-color: #f6f6f6;
  margin-bottom: 154px;
  .container {
    .row {
      .item_fun {
        text-align: center;
        h3 {
          font-size: 30px;
          font-family: AsapRegular;
          color: #454545;
        }
        h4 {
          font-size: 22px;
          font-family: AsapMedium;
          color: #454545;
        }
      }
    }
  }
}

footer {
  background-image: url('../images/footer_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 145px 0 30px 0;
  margin-bottom: 12px;
  .container {
    .row {
      .send_b {
        text-align: center;
        button {
          i{
            font-size: 16px;
            color: #595959;
            padding-left: 5px;
          }
          line-height: 48px;
          text-transform: uppercase;
          font-family: AsapMedium;
          font-size: 16px;
          color: #595959;
          display: inline-block;
          margin: 15px 0 58px 0;
          border: solid $main_color 1px;
          text-decoration: none;
          padding: 0 45px 0 47px;
          &:hover {
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 46px 0 48px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 0 34px 71px -11px rgba(0, 0, 0, 0.75);
          }
        }
      }
      form {
        input {
          font-family: AsapRegular;
          margin: 15px;
          width: 370px;
          line-height: 57px;
          padding-left: 9px;
          font-size: 16px;
        }
        textarea {
          margin: 15px;
          width: 768px;
          height: 207px;
          resize: none;
          padding: 25px 0 0 10px;
          font-family: AsapRegular;
          font-size: 16px;
        }
      }
      .h2_center {
        text-align: center;
        h2 {
          font-size: 46px;
          font-family: AsapBold;
          text-transform: uppercase;
          color: #f3f3f3;
          text-align: center;
          position: relative;
          margin-bottom: 71px;
          display: inline-block;
          letter-spacing: 6px;
          &:before {
            position: absolute;
            content: "----------";
            letter-spacing: -10px;
            color: #c1c1c1;
            top: -45px;
            right: 131px;
          }
        }
      }
      .social{
        border-top: 1px solid white;
        .social_icons{
          line-height: 27px;
          width: 27px;
          text-align: center;
          display: inline-block;
          margin-right: 4px;
          margin-top: 26px;
          background-color: white;
          &:hover{
            background-color: #0084b4;
            color: #ffffff;
          }
        }
      }
      p{
        font-size: 16px;
        text-align: center;
        padding-left: 24%;
        color: #ffffff;
        display: inline-block;
      }
    }
  }
}

#back-top {
  width: 45px;
  line-height: 41px;
  position:fixed;
  bottom: 205px;
  right: 30px;
  display:none;
  text-align:center;
  font-size: 16px;
  text-decoration:none;
  color: $main_color;
  background-color: white;
  -webkit-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.75);
}