@font-face {
  font-family: 'AsapBold';
  src: url('../fonts/AsapBold.eot');
  src: url('../fonts/AsapBold.eot') format('embedded-opentype'),
  url('../fonts/AsapBold.woff2') format('woff2'),
  url('../fonts/AsapBold.woff') format('woff'),
  url('../fonts/AsapBold.ttf') format('truetype'),
  url('../fonts/AsapBold.svg#AsapBold') format('svg');
}
@font-face {
  font-family: 'AsapItalic';
  src: url('../fonts/AsapItalic.eot');
  src: url('../fonts/AsapItalic.eot') format('embedded-opentype'),
  url('../fonts/AsapItalic.woff2') format('woff2'),
  url('../fonts/AsapItalic.woff') format('woff'),
  url('../fonts/AsapItalic.ttf') format('truetype'),
  url('../fonts/AsapItalic.svg#AsapItalic') format('svg');
}
@font-face {
  font-family: 'AsapMedium';
  src: url('../fonts/AsapMedium.eot');
  src: url('../fonts/AsapMedium.eot') format('embedded-opentype'),
  url('../fonts/AsapMedium.woff2') format('woff2'),
  url('../fonts/AsapMedium.woff') format('woff'),
  url('../fonts/AsapMedium.ttf') format('truetype'),
  url('../fonts/AsapMedium.svg#AsapMedium') format('svg');
}
@font-face {
  font-family: 'AsapRegular';
  src: url('../fonts/AsapRegular.eot');
  src: url('../fonts/AsapRegular.eot') format('embedded-opentype'),
  url('../fonts/AsapRegular.woff2') format('woff2'),
  url('../fonts/AsapRegular.woff') format('woff'),
  url('../fonts/AsapRegular.ttf') format('truetype'),
  url('../fonts/AsapRegular.svg#AsapRegular') format('svg');
}

$main_color: #4d4d4d;

.nav {
  li {
    padding: 15px 15px 0 15px;
    a {
      padding: 10px 0 8px;
      text-transform: uppercase;
      color: $main_color;
      font-family: AsapRegular;
      font-size: 16px;
      &:hover{
        border-bottom: 2px #878787 solid;
        background-color: transparent;
      }
      &:focus{
        background-color: transparent;
      }
    }
  }
}

header {
  position: fixed!important;
  top: 0;
  background-color: transparent;
  z-index: 5;
}

.main {
  background-image: url('../images/bg_top.png');
  padding-top: 101px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .container{
    .row {
      div{
        .know_more{
          padding: 0 28px 0 29px;
          &:hover{
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 29px 0 30px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
            box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
          }
        }
        .hire_me{
          padding: 0 44px 0 46px;
          &:hover{
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 45px 0 47px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
            box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
          }
        }
        a {
          line-height: 48px;
          text-transform: uppercase;
          font-family: AsapMedium;
          font-size: 16px;
          color: $main_color;
          display: inline-block;
          margin-top: 20px;
          border: solid $main_color 1px;
          margin-right: 13px;
          text-decoration: none;
        }
        h1{
          padding-top: 160px;
          font-family: AsapMedium;
          font-size: 90px;
          color: $main_color;
        }
        h3{
          font-family: AsapMedium;
          font-size: 22px;
          color: #9a9a9a;
          padding-left: 6px;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}
.main2 {
  .container{
    .row{
      div{
        a{
          line-height: 48px;
          text-transform: uppercase;
          font-family: AsapMedium;
          font-size: 16px;
          color: $main_color;
          display: inline-block;
          margin-top: 20px;
          border: solid $main_color 1px;
          text-decoration: none;
          padding: 0 45px 0 47px;
          &:hover{
            background-color: white;
            border: none;
            line-height: 50px;
            padding: 0 46px 0 48px;
            -webkit-box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
            box-shadow: 0 34px 71px -11px rgba(0,0,0,0.75);
          }
        }
        p{
          font-family: AsapRegular;
          font-size: 16px;
          color: $main_color;
        }
        h2{
          margin: 201px 0 0 0;
          font-size: 46px;
          font-family: AsapBold;
          text-transform: uppercase;
          color: #7c7c7c;
          position: relative;
          letter-spacing: 6px;
          &:before{
            position: absolute;
            content: "---------";
            letter-spacing: -10px;
            top: -45px;
          }
        }
        img{
          width: 100%;
          padding-top: 106px;
          padding-bottom: 124px;
        }
      }
    }
  }
}
.main3{
  background-color: #f6f6f6;
  padding: 118px 0 114px 0;
  .container{
    .row{
      div{
        text-align: center;
        h3{
          display: block;
          font-size: 24px;
          font-family: AsapMedium;
          color: $main_color;
        }
        img{
          text-align: center;
        }
      }
      h2{
        font-size: 46px;
        font-family: AsapBold;
        color: #7c7c7c;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 70px;
        position: relative;
        letter-spacing: 6px;
        &:before{
          position: absolute;
          content: "----------";
          letter-spacing: -10px;
          top: -45px;
          left: 48%;
        }
      }
    }
  }
}